body {
    background-color: black;
    color: white;
    font-family: Verdana;
    text-align: center;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 42px;
    font-weight: 300;
}
h3{
    color: grey;
    font-size: 21px;
}
h5 {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}